/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS Document */


/*INDEX PAGE STYLE BEGINS */
body
{
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	max-width: 100%;
	background-image: linear-gradient(#ededed, #ddd9d9);
	background-repeat: no-repeat;
	background-size: cover;
}

a 
{
	text-decoration: none;	
}

ol,
ul
{
	list-style: none;
}

/* Document Header, Logo, Primary Nav */
.document-header
{
	background-image:url(../images/bg-header.jpg);
	background-repeat: repeat-x;
	background-size: cover;
	width: 100%;
	max-width: 100%;
	height: 10vw;
/*	You can use position property and direction keywords to set a fixed position
	position: fixed;
	top: 0;
*/
}

.header-content
{
	width: 80%;
	max-width: 80%;
	margin: auto;	/*Set margin auto to center the content */
	height: 100%;
}

.logo
{
	float: left;
	width: 40%;
	max-width: 40%;
	margin-top: 4%;	
	position: static;
}
.logo img
{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.primary-nav
{
	float: right;
	width: 60%;
	max-width: 60%;
	margin-top: 5%;
	position: static;
}
.primary-nav ul
{
	float: right;
}
.primary-nav li 
{
	display: inline-block;
}
.primary-nav a 
{
	text-align: center;
	color: #F2F2F2;
	text-transform: uppercase;
	font-size: 1.3vw; 	/*Use percent, em or viewport units to create a responsive website */
	padding-left: 1vw;
}
.primary-nav a:hover
{
	color: #BFB0B1;
}

.mainContent
{
	background-image: linear-gradient(#ededed, #ddd9d9);
	width: 80%;
	max-width: 80%;
	margin:auto;
	clear: both;
}
.mainContent .banner
{
	width: 100%;
	max-width: 100%;
	border-bottom: solid #F5F3F3 1px;
	clear: both;
	height: 29vw;
}
.mainContent .bannerParagraph
{
	float: left;
	width: 35%;
	max-width: 35%;
	background-color: #E2E2E2;
	height: 100%;
}
.mainContent .bannerParagraph p
{
	font-size: 1.5vw;
	line-height: 4vw;
	color: #3B7230;
	text-emphasis: bold;
	text-align: center;
	margin-top: 5vw;
}
.mainContent .bannerPhoto
{
	float: right;
	width: 65%;
	max-width: 65%;
	height: 100%;
	background-color: #CF0;
}
.bannerPhoto img
{
	width: 100%;
	max-width: 100%;
	height: 100%;
}

.mainContent .firstColumns
{
	clear: both;
	background-image: linear-gradient(#ebe5e5,#c9c5c5);
	height: 20vw;
	border-bottom: solid 1px #fff;
	width: 100%;
	max-width: 100%;
	font-size: 2vw;
	padding-top: 2%;
}
.firstColumns .col-2-3
{
	float: left;
	width: 59%;
	max-width:59%;
/*	margin-top: 1vw;
	margin-left: 1vw;
	padding: 0.5vw;
*/	border-right: solid 2px #DCDCDC;
	height: 100%;
	
}
.firstColumns .col-1-3
{
	float:right;
	width: 39%;
	max-width:39%;
/*	margin-top: 20px;
	margin-right:20px;
	padding: 10px;
*/
}
.firstColumns h2
{
	font-weight: bold;
	text-transform: capitalize;
	padding: 2%;
	font-size: 120%;
	color: rgba(0,0,0,0.6);
}
.firstColumns p
{
	text-align: justify;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 100%;
	line-height: 150%;
}
#testimonials 
{
	text-align: right;
	padding-top: 5%;
}

.mainContent .secondColumns
{
	clear: both;
	background-color: #DCD5D5;
	border-bottom: solid 1px #fff;
	width: 100%;
	max-width: 100%;
	height: 30vw;
	font-size: 1vw;
}
.mainContent .col-1-4 
{
	float: left;
	width: 22%;
	max-width: 22%;	
	padding-left: 2%;
}
.mainContent .col-1-4 img
{
	width: 100%;
	max-width: 100%;
	border: solid 1px white;
	padding: 0.5vw;
}
.secondColumns h2
{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 1%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 150%;
	color: rgba(0,0,0,0.6);
}

.secondColumns h4
{
	padding-top: 6%;
	padding-bottom: 6%;
	text-align: left;
	font-weight: bold;
	font-size: 130%;
	text-transform: uppercase;
	color: rgba(0,0,0,0.6);
	line-height: 1.5em;
}
.secondColumns p
{
	padding-bottom: 15%;
	font-size: 130%;
	text-align: justify;
}

.contentFooterSection
{
	clear: both;
	height: 15vw;
	background-color: #BFB9B9;
	border-bottom: solid 2px #fff;
}
.contentFooter
{
	width: 80%;
	max-width: 80%;
	height: 100%;
	margin: auto;
	font-size: 1vw;
}
.contentFooter .col-1-3
{
	float: left;
	width: 30%;
	max-width: 30%;
	height: 100%;
	padding-left: 3%;
}
#contentFooterMiddle
{
	border-left: #DFD9D9 solid 1px;
	border-right: #DFD9D9 solid 1px;
}
.contentFooter h4
{
	padding-top: 6%;
	padding-bottom: 6%;
	text-align: left;
	font-weight: bold;
	font-size: 150%;
	text-transform: uppercase;
	color: rgba(0,0,0,0.6);
	line-height: 1.5em;

}
.contentFooter p
{
	padding-bottom: 15%;
	font-size: 150%;
	text-align: justify;
}
.secondColumns .col-1-4 a,
.contentFooter .col-1-3 a
{
	color: #ffffff;
	text-transform: uppercase;
	background-color: rgba(54,49,49,0.7);
	padding: 5%;
	border-radius: 3px;
}
.secondColumns .col-1-4 a:hover,
.contentFooter .col-1-3 a:hover
{
	background-color: #514D4D;
}

.bodyFooter
{
/*	background-color: #668C5D;
*/	
	background-image: url(../images/bg-footnote.jpg);
	background-repeat: repeat-x;
	background-size: cover;
	width: 100%;
	max-width: 100%;
	height: 8vw;
	clear: both;
	font-size: 1vw;
	padding-bottom: 0;
	margin-bottom: 0;
}
.bodyFooter .socialMedia
{
	float: left;
	width: 25%;
	max-width: 25%;
	height: 100%;
	margin-left: 10%;
}
.bodyFooter .copyrightInfo
{
	float: right;
	width: 50%;
	max-width: 50%;
	height: 100%;
	margin-right: 10%;
}
.bodyFooter a
{
	display: inline-block;
	padding-right: 5%;
	padding-top: 10%;
}
.bodyFooter a img
{
	width: 130%;
	max-width: 130%;
	height: 130%;
	max-height: 130%;
}
.bodyFooter p
{
	float: right;
	padding-top: 6%;
	font-size: 140%;
	font-weight: bold;
	color: #F2F2F2;

}

/*INDEX PAGE STYLE ENDS */

/* ABOUT PAGE STYLE BEGINS*/
.aboutMainContent 
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	font-size: 1vw
	border: 1px solid red;
}
.aboutMainContent h1
{
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 3%;
	padding-bottom: 2%;
	font-size: 200%;
	color: rgba(40,39,39,0.7);
	text-shadow: 42 15;
}
.aboutMainContent img
{
	border: solid 1px #fff;
	width: 100%;
	max-width: 100%;
	height: 100%;
}
.aboutMainContent .aboutContent h2
{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 1%;
	font-size: 150%;
	color: rgba(40,39,39,0.7);
}
.aboutMainContent .aboutContent p
{
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: justify;
	line-height: 300%;
}
/* ABOUT PAGE STYLE ENDS*/

/* PRACTICES PAGE STYLE BEGINS*/
.practicesContent
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	font-size: 1vw;
}
.practicesContent .col-1-3
{
	clear: both;
	float: left;
	width: 25%;
	max-width: 25%;
	margin-left: 2%;
}
.practicesContent .col-2-3
{
	float: right;
	width: 65%;
	max-width: 65%;
}
.practicesContent ul
{
	padding-top: 5%;
}
.practicesContent .col-1-3 li
{
	padding: 4%;
	border-top: dashed 1px #fff;
}
.practicesContent .side-Nav a
{
	color: #D3740D;
	font-size: 150%;
}
.practicesContent .side-Nav a:hover
{
	color: #E7AE63;
}
.practicesContent h2
{
	padding-top: 3vw;
	font-weight: bold;
	color: #878181;
	text-transform: uppercase;
}
.practicesContent p
{
	line-height: 300%;
	text-align: left;	
}
.practicesContent div img
{
	border: solid 1px #fff;
	padding: 0.5%;
	margin-left: 5%;
	margin-top: 5%;
	width: 43%;
	max-width: 43%;
	height: auto;
}
/* PRACTICES PAGE STYLE ENDS*/

/* LAWYERS PAGE STYLE BEGINS*/
.lawyers
{
	height: 100%;
	width: 100%
	max-width: 100%;
	font-size: 1vw;
}
.lawyers h1
{
	text-transform: uppercase;
	color: rgba(41,41,41,0.7);
	font-weight: bold;
	font-size: 250%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.lawyers .col-1-1
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	font-size: 150%;
	border-top: dashed 1px #fff;
    padding-top: 3%;
    margin-bottom: 1%;
}
.lawyers .col-1-1 img
{
	clear: both;
	float: left;
	width: 10%;
	max-width: 10%;
    height: 10%;
    display: block;
    max-height: 10%;
	border: solid 1px #fff;
    padding: 0.4%;
}
.lawyers .col-1-1 img:hover
{
	background-color:rgba(173,190,171,0.7);
}
.lawyers .col-1-1 h2
{
	text-transform: uppercase;
	font-weight: bold;
	color: #878181;
	margin-left: 13%;
    padding-bottom: 1%;
}
.lawyers .col-1-1 p
{
	margin-left: 13%;
	line-height: 200%;
	text-align: justify;
    padding-bottom: 2%;
}
/* LAWYERS PAGE STYLE ENDS*/

/* NEWS PAGE STYLE BEGINS*/
.newsContent
{
	width: 100%;
    max-width: 100%;
	height: 100%;
    font-size: 1vw;
}
.newsContent .col-1-3
{
	clear: both;
	float: left;
	width: 25%;
    max-width: 25%;
	margin-left: 1.5%;
    margin-top: 4%;
    height: 100%;
}
.newsContent .col-2-3
{
	float: right;
	width: 65%;
    max-width: 65%;
	border-left: solid rgba(79,78,76,0.1);
	padding-left: 5%;
	height: 100%;
    margin-top: 4%;
}
.newsContent h2
{
	margin-bottom: 1%;
	font-weight: bold;
    font-size: 150%;
	color: #878181;
	text-transform: uppercase;
}
.newsContent p
{
	line-height: 300%;
	text-align: left;	
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 10%;
    font-size: 120%;
}
.newsContent .col-2-3 div
{
	width: 100%;
    max-width: 100%;
	height: 200px;
	background: #fff;
	margin-bottom: 20px;
    font-size: 150%;
}
/* NEWS PAGE STYLE ENDS*/

/*CONTACT PAGE STYLE BEGINS*/
.contactContent
{
	width: 100%;
    max-width: 100%;
	height: 100%;
}
.contactContent .col-1-3
{
	margin-top: 4%;
    clear: both;
	float: left;
	width: 30%;
    max-width: 30%;
	margin-left: 1%;
}
.contactContent .col-2-3
{
	margin-top: 4%;
    float: right;
	width: 60%;
    max-width: 60%;
	border-left: solid rgba(79,78,76,0.1);
	padding-left: 3%;
	height: 100%;
}
.contactContent h2
{
	font-weight: bold;
    font-size: 70%;
	color: #878181;
	text-transform: uppercase;
}
.contactContent .col-2-3 h2
{
    margin-bottom: 5%;
}
.contactContent p
{
	line-height: 300%;
    font-size: 70%;
	text-align: left;	
}
.contactContent label, .contactContent input,
.contactContent textarea
{
	display: block;
	width: 100%;
    max-width: 100%;
	height:1.5em;
}
.contactContent input:hover,
.contactContent textarea:hover
{
	background-color: #CEDDDC;
	color: #793A3B;
}

.contactContent textarea
{
	height: 100px;
}
.contactContent fieldset
{
	margin-bottom: 2%;
	margin-top: 2%;
}
#send-button
{
	font-weight: bold;
	height: 3%;
	color: #fff;
    width: 100%;
    max-width: 100%;
	background:rgba(61,60,60,1.00);
}
#send-button:hover
{
	background: rgba(155,149,149,1.00);
}
/*CONTACT PAGE STYLE ENDS*/